# Linux
*~

# Test data
# *.csv
data/output_exp.csv
data/output_log.csv
data/output_poly.csv
data/output_sin.csv

# Python Bytecode
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
spike/java/bin/
bin

# Cmake
*.cmake
CMakeCache.txt
CMakeFiles
Makefile

# Java
*.class
